@media screen and (max-width: 560px){
    .links{
        display: none;
    }
    .icons{
        display: none;
    }
    .list{
        display: flex;
    }
    .header h1{
        font-size: 30px;
    }
    .card {
        width: 230px;
    }
    .card img{
        width: 200px;
    }
}